:root {
  --primary-text: #6fb98f;
  --primary-background2: #004445;
  --primary-accent: #2c7873;
}


/* Navbar */

.navbar-brand {
  width: 16rem !important;
  color: var(--primary-text) !important;
}

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.7px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: .75rem;
  margin-left: .75rem;
  color: var(--primary-text) !important;
  border-bottom: .1875rem solid rgba(255, 255, 255, 0) !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-bottom: .1875rem solid var(--primary-accent) !important;
}

.navbar-nav > li > a:hover {
  border-bottom: .1875rem solid var(--primary-accent) !important;
}


/* Header */

.headerWrap {
  position: relative;
  background: url(technologyimage.jpg);
  opacity: 0.95;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.quickInfo {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.typed-text {
  font-size: 3rem;
  color: white;
}

.btn-home {
  display: inline-block !important;
  border: 2px solid var(--primary-accent) !important;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 0.5rem 0.6rem 0.6rem 0.6rem;
  margin: 2rem;
  color: white;
}

.btn-home:hover {
  color: var(--primary-text);
}

/* Projects Section */


/* Contact Section */

label {
  color: var(--primary-text);
}




/* #021c1e  Blue Black
#004445  Cadet Blue
#2c7873  Rain
#6fb98f  Greenery */