:root {
  --primary-text: #6fb98f;
  --primary-background2: #004445;
  --primary-accent: #2c7873;
}


/* Navbar */

.navbar-brand {
  width: 16rem !important;
  color: var(--primary-text) !important;
}

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.7px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: .75rem;
  margin-left: .75rem;
  color: var(--primary-text) !important;
  border-bottom: .1875rem solid rgba(255, 255, 255, 0) !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-bottom: .1875rem solid var(--primary-accent) !important;
}

.navbar-nav > li > a:hover {
  border-bottom: .1875rem solid var(--primary-accent) !important;
}


/* Header */

.headerWrap {
  position: relative;
  background: url(technology-background-image-11.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.quickInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}




/* #021c1e  Blue Black
#004445  Cadet Blue
#2c7873  Rain
#6fb98f  Greenery */